---
clickhouse:
  connection:
    scheme: http
    host: localhost
    port: 8123
  shadow: "/var/lib/clickhouse/shadow"
  metadata: "/var/lib/clickhouse/metadata"

backup:
  archive-prefix: ''
  temp-file-location: "~/"

log_level: DEBUG

ignored_databases:
  - default
  - system
  - healthmon